
.header .header_content{
	width: 100%;
	height: 100px;
	box-shadow: 0 3px 5px  #b9b6b5;
}
.header_content a.pic{
	float: left;
}
.header .header_content .search{
	margin-top: 30px;
}
.header .header_content h1{
	margin: 0;
	height: 100px;
	line-height: 100px;
	font-weight: 26px;
	float: left;
	padding-left: 28px;
}
.header .header_content h1 a{
	font-size: 26px;
	color: #000000;
	text-decoration: none;
	font-family: "微软雅黑";
}
.content {
	clear: both;
	overflow: hidden;
	background: #f6f6f6;
	margin-top: 5px;
	font-family: "微软雅黑";
}
.content .shop_cart{
	background: #FFFFFF;
	clear: both;
	overflow: hidden;
}
.content .shop_cart h1{
	font-size: 22px;
	color: #cc3399;
	margin:0 0 0 13px;
	height: 76px;
	line-height: 76px;
	float: left;
	border-bottom: 2px solid #cc3399;
}
.content .shop_cart h1 i{
	font-style: normal;
}
.content .shop_cart p.text{
	float: right;
	margin-top: 5px;
	margin-right: 16px;
}
.content .shop_cart .address{
	position: relative;
	float:right;
	z-index: 10;
	font-family: "微软雅黑";
	color: #666666;
	font-size: 16px;
	margin-top: 32px;
}
.content .shop_cart .address p.send{
	width:141px;
	height:30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #e1e1e1;
	cursor: pointer;
	margin-right: 16px;
	float: right;
}
.content .shop_cart .address p.send i{
	font-style: normal;
}
.content .shop_cart .address p.send span{
	padding-left: 5px;
}
.content .shop_cart ul.memu{
	position: absolute;
	width: 141px;
	top: 30px;
	right: 14px;
	background: #E1E1E1;
	text-align: center;
	color: #333333;
	display: none;
}
.content .shop_cart ul.memu li{
	margin-bottom: 5px;
	cursor: pointer;
}
.content .shop_cart table{
	clear: both;
	font-family: "微软雅黑";
	width: 100%;
}
.content .shop_cart table thead{
	border: 1px solid #DCDCDC;
}
.content .shop_cart table thead th{
	height:54px;
	line-height:54px;	
	background: #f3f3f3;
	font-size: 14px;
	color: #666666;
	font-weight: normal;
}
.content .shop_cart table thead th:first-child{
	width: 165px;
}

.content .shop_cart table thead th:nth-child(3){
	width: 141px;
}
.content .shop_cart table thead th:nth-child(4){
	width: 100px;
	text-align: center;
}
.content .shop_cart table thead th:nth-child(5){
	width: 148px;
	text-align: right;
	padding-right: 20px;
}
.content .shop_cart table thead th:last-child{
	text-align: center;
}
.content  label.c-checkbox{
	width: 111px;
	height: 15px;
	cursor: pointer;
	position: relative;
	border: none;
	margin-left: 12px;
}
.content  label.c-checkbox input{
	position: absolute;
	visibility: hidden;
}
.content  .c-checkbox span{
	position: absolute;
	display: block;
	width: 15px;
	height: 16px;
	border: 1px solid #666666;	
	padding: 0;	
	top: 0px;
	margin-top: 20px;
	background: #FFFFFF;
}
.content  .c-checkbox i{
	font-weight: normal;
	padding-left: 31px;
	font-style: normal;
	font-size: 14px;
	color: #666666;
}
.content  .c-checkbox input:checked + span:after{
	position: absolute;
    display: block;
    left: 3px;
    top: 1px;
    width: 6px;
    height: 9px;
    border: solid #494949;
    border-width: 0 2px 2px 0;
    transform: rotate(35deg);
    content: "";
}
.content table tr.activitly {
	background: #FFFFFF;
}
.content table tr.activitly .top{
	clear: both;
	overflow: hidden;
	margin-top: 16px;
	border-bottom: 2px solid #999999;
	margin-left: 5px;
	padding-bottom: 9px;
}
.content table tr.activitly .c-checkbox{
	margin-left: 10px;
}
.content table tr.activitly .c-checkbox i{
	display: inline-block;
	margin-top: 16px;
	color: #333333;
	font-size: 16px;
}
.content table tr.activitly .bottom h2{
	float: left;
	width: 58px;
	height: 30px;
	background: #f48719;
	color: #FFFFFF;
	font-size: 14px;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	margin-left: 13px;
	margin-top: 11px;
	position: relative;
}
.content table tr.activitly .bottom h2 span{
	width: 0;
	height: 0;
	border: 8px solid #f48719;
	border-color: transparent transparent  #f48719 transparent;
	position: absolute;
	bottom: -5px;
	transform: rotate(-35deg);
	right: 28px;
}
.content table tr td img{
	width: 100px;
	height: 99px;
}
.content table tr.activitly .bottom p{
	float: left;
	font-size: 14px;
	color: #666666;
	margin: 18px 0 0 18px;
}
.content table tr.activitly .bottom p i{
	color: #cc0000;
	font-style: normal;
}
.content table tr.activitly .bottom p a{
	font-size: 14px;
	color: #666666;
	text-decoration: none;
}
.content table tr.activitly .bottom p.mon{
	float: right;
	margin-right: 147px;
	margin-top: 10px;
}
.content table tr.activitly .bottom p.free{
	float: right;
	clear: both;
	color: #cc0000;
	margin-right: 147px;
	margin-top: -20px;
}
.content table tr.goods{
	background: #fff4e8;
	font-size: 14px;
}
.content table tr.goods td{
	border-bottom: 1px solid #999999;
}
.content table tr.goods td img{
	display: block;
	margin-left: 43px;
	margin-bottom: 14px;
}
.content table tr.goods td:first-child{
	position: relative
}
.content table tr.goods td:nth-child(3){
	width: 272px;
}
.content table tr.goods td p.line{
	border-top: 1px solid #fff4e8;
	width: 44px;
	position: absolute;
}
.content table tr.goods td:nth-child(2){
	width: 239px;
	font-size: 14px;
	
}
.content table tr.goods td:nth-child(2) a{
	color: #333333;
	text-decoration: none;
}
.content table tr.goods td:nth-child(3) p{
	margin-left: 30px;
	color: #666666;
}
.content table tr.goods td:nth-child(5) p{
	text-align: center;
	color: #999999;
	font-size: 16px;
	margin-top: 3px;
}
.content table tr.goods td .sub,
.add{
	width: 21px;
	height: 29px;
	border: 1px solid #d0d0d0;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	line-height: 28px;
	background: #FFFFFF;
	float: left;
	color: #c0c0c0;
}
.content table tr.goods td .sub{
	border-right: none;
}
.content table tr.goods td .add{
	border-left: none;
}
.content table tr.goods input{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #333333;
	padding: 0 5px;
	width: 56px;
	height: 29px;
	border: 1px solid #d0d0d0;
	float: left;
	text-align: center;
	outline: none;
}
.content table tr.goods .min_total{
	text-align: right;
	font-weight: bold;
	font-size: 18px;
	color: #000000;
	padding-bottom: 38px;
	padding-right: 20px;
}
.content table tr.goods td:last-child{
	padding-left: 34px;
	padding-bottom: 30px;
}
.content table tr td a.delete,
a.collec     	{
	display: block;
	text-decoration: none;
	font-size: 14px;
	color: #666666;
	text-align: left;
}
.content table tr.account{
	background: #FFFFFF;
}
.content table tr.account .acc_det{
	background: #f9f9f9;
	height: 65px;
	line-height: 65px;
	border: 1px solid #999999;
	margin-top: 28px;
	color: #666666;
}
.content table tr:nth-last-child(2) td{
	border:none
}
.content table tr.account .acc_det  label.c-checkbox{
	float: left;
	width: 60px;
}
.content table tr.account .acc_det  .c-checkbox span {
	margin-top: 25px;
}
.content table tr.account .acc_det  .c-checkbox i{
	padding-left: 20px;
}
.content table tr.account .acc_det p.delete{
	float: left;
	cursor: pointer;
}
.content table tr.account .acc_det p.collect{
	float: left;
}
.content table tr.account .acc_det p.collect a{
	color: #666666;
	font-size: 14px;
	text-decoration: none;
	margin-left: 30px;
}
.content table tr.account .acc_det p{
	float: right;
	font-size: 14px;
	color:#666666;
}

.content table tr.account .acc_det p.chose i{
	color: #cc0000;
	font-style: normal;
}
.content table tr.account .acc_det p.chose .glyphicon {
	top: 4px;
}

.content table tr.account .acc_det p.totall{
	background: url(../img/light.png) no-repeat right;
	line-height: normal;
	margin-top: 6px;
	color: #999999;
	text-align: right;
	padding-right: 26px;
	margin-left: 22px;
	margin-right: 13px;
	
}
.content table tr.account .acc_det p.totall  i{
	font-size: 18px;
	color: #cc0000;
	font-style: normal;
}
.content table tr.account .acc_det p.totall span{
	display: block;
}
.content table tr.account .acc_det p.totall span strong{
	font-style: normal;
	font-size: 20px;
	font-weight: normal;
}
.content table tr.account .acc_det .save{
	line-height: normal;
}
.content table tr.account .acc_det a.pay{
	float: right;
	display: block;
	width: 110px;
	height: 64px;
	line-height: 64px;
	background: #cc3399;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
}

.content .pro{
	clear: both;
	overflow: hidden;
	padding-top: 22px;
}
.content .pro .swich_top ul{
	clear: both;
	overflow: hidden;
}
.content .pro .swich_top li{
	width: 92px;
	background:#FFFFFF;
	height: 28px;
	border: 1px solid #d2d2d2;
	border-bottom: none;
	text-align: center;
	line-height: 28px;
	float: left;
	margin-right: 5px;
}
.content .pro .swich_top li a{
	color: #999999;
	font-size: 14px;
	text-decoration: none;
}
.content .pro .swich_top li.on{
	width: 92px;
	border-bottom: 2px solid #cc3399;
}
.content .pro .swich_top li.on a{
	color: #cc0000;
	text-decoration: none;
}
.content .pro .swich_top li:hover{
	border-bottom: 2px solid #cc3399;
}
.content .pro .swich_con{
	width: 100%;
	border: 1px solid #d9d9d9;
	clear: both;
	overflow: hidden;
	background: #FFFFFF;
	position: relative;
}
.content .pro .swich_con li{
	display: none;
}
.content .pro .swich_con li.on{
	display: block;
	clear: both;
	overflow: hidden;
}
.content .pro .swich_con dl{
	margin-left: 54px;
	clear: both;
	overflow: hidden;
	height: 324px;
	position: relative;
}
.content .pro .swich_con dd{
	float: left;
	width: 213px;
	margin-right: 4px;
	margin-top: 10px;
	border: 1px solid #FFFFFF;
	position: absolute;
	margin-bottom:22px
}
.content .pro .swich_con dd img{
	display: block;
	padding: 10px 14px 0;
}
.content .pro .swich_con dd h1{
	font-size: 12px;
	margin: 0;
	height: auto;
	width: 181px;
	margin: 0 auto;
	line-height: 20px;
	border: none;
	float: none;
}
.content .pro .swich_con dd h1 a{
	font-size: 12px;
	text-decoration: none;
	color: #999999;
	line-height: 22px;
}
.content .pro .swich_con dd p{
	color: #cc0000;
	font-size: 14px;
	padding-left: 14px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: "微软雅黑";
}
.content .pro .swich_con dd a.shop_car{
	width: 78px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border: 1px solid #999999;
	display: block;
	margin-left: 14px;
	text-decoration: none;
	color: #999999;
	margin-bottom: 15px;
}
.content .pro .swich_con dd:hover{
	border-color:#cc3399;
}
.content .pro .swich_con a.pre,a.next{
	width: 15px;
	height: 16px;
	position: absolute;
	top: 0;
}
.content .pro .swich_con a.pre{
	background: url(../img/pay_pre.jpg) no-repeat;
	left: 19px;
	top: 38%;
}
.content .pro .swich_con a.next{
	background: url(../img/pay_next.jpg) no-repeat;
	right: 19px;
	top: 47%;
}
.content .comfir{
	background: #efefef;
	width: 100%;
	height: 100px;
	margin-top: 90px;
}
.content .comfir li{
	float: left;
	font-size: 24px;
	color: #000000;
	height: 43px;
	line-height: 43px;
	margin-top: 29px;
}
.content .comfir li:first-child{
	margin-left: 32px;
}
.content .comfir li:nth-child(2){
	margin-left: 90px;
}
.content .comfir li:nth-child(3){
	margin-left: 90px;
}
.content .comfir li:nth-child(4){
	margin-left: 71px;
}